@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&Karla:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: #4248df;
  background-color: #e6e7ff;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cdd0ff;
  place-self: center;
  min-width: 350px;
  padding: 1.5625em;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .app {
    width: 85%;
  }
}
